<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.0.0" targetFramework="net452" />
  <package id="CSharp.Meetup" version="0.1.4500.22859" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="4.5.3" targetFramework="net452" />
  <package id="RestSharp" version="105.2.2" targetFramework="net452" />
  <package id="Spring.Rest" version="1.1.0" targetFramework="net452" />
  <package id="Spring.Social.Core" version="1.0.0" targetFramework="net452" />
  <package id="Twilio" version="4.4.1" targetFramework="net452" />
</packages>